script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="../bower_components/holderjs/holder.js")
script(src="../js/example.js")  
